.bottom-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding: 25px 0;
    height: 300px;
    width: 400px;
    margin-left: 70%;
    margin-top: -720px;
  }
  .large-adv-banner {
    width: 100%;
    border-radius: 15px;
    filter: drop-shadow(0.5px 0.866px 0px rgba(255, 255, 255, 0.75));
    box-shadow: inset 0.5px 0.866px 1px rgba(0, 0, 0, 0.43);
    background-color: #0087c2;
    padding: 5px 10px;
  }
  .adv-label {
    font-size: 11px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding-right: 10px;
  }
  .large-banner-img {
    padding: 5px 5px 15px 5px;
    position: relative;
  }
  .large-img {
    width: 100%;
    height: 100%;
  }
  .adv-overlay-1 {
    padding: 10px 30px 10px 20px;
    opacity: 0.902;
    background-color: #0483bb;
    position: absolute;
    bottom: 80px;
    left: 40px;
  }
  .adv-overlay-1 span {
    opacity: 0.502;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }
  .adv-overlay-2 {
    padding: 10px 30px 10px 20px;
    opacity: 0.902;
    background-color: #0483bb;
    position: absolute;
    bottom: 40px;
    right: 0px;
  }
  .adv-overlay-2 span {
    opacity: 0.502;
    font-size: 24px;
    color: #ffffff;

    text-align: center;
  }
  @media (max-width: 600px) {
    .bottom-right {
      margin-left: auto;
      margin-right: auto;
      width: 80%; 
      margin-top: 0; 
      padding: 15px;
      height: auto; 
    }
  }
  
  .large-adv-banner {
    width: 100%;
    border-radius: 15px;
    filter: drop-shadow(0.5px 0.866px 0px rgba(255, 255, 255, 0.75));
    box-shadow: inset 0.5px 0.866px 1px rgba(0, 0, 0, 0.43);
    background-color: #0087c2;
    padding: 5px 10px;
  }
  
  .adv-label {
    font-size: 11px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding-right: 10px;
  }
  
  .large-banner-img {
    padding: 5px 5px 15px 5px;
    position: relative;
  }
  
  .large-img {
    width: 100%;
    height: 100%;
  }
  
  .adv-overlay-1,
  .adv-overlay-2 {
    padding: 10px 30px 10px 20px;
    opacity: 0.902;
    background-color: #0483bb;
    position: absolute;
  }
  
  .adv-overlay-1 {
    bottom: 80px;
    left: 40px;
  }
  
  .adv-overlay-2 {
    bottom: 40px;
    right: 0px;
  }
  
  .adv-overlay-1 span,
  .adv-overlay-2 span {
    opacity: 0.502;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
  }