.performer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px; /* Adjusted width */
  height: 300px; /* Adjusted height */
  margin: 0 auto; /* Center the container */
  border: 1px solid #ccc; /* Optional: add a border to visualize the container size */
  overflow: hidden; /* Hide any overflow content */
  box-sizing: border-box; /* Ensure padding and border are included in the total width and height */
  margin-top: -470px;
  margin-left: 100px;
  border-radius: 20px;
}

.horizontal-separator img {
  width: 100%;
  height: auto;
}

.performer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; /* Ensure the section takes the full height of the container */
}

.heading-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Adjust this value as needed */
  height: 10px;
}

.heading-arrow img {
  cursor: pointer;
  margin-left: -20px;
  margin-top: -5px;
}

.tab-heading {
  font-size: 16px; /* Adjusted font size */
  font-weight: bold;
  color: #000000;
  margin-left: 10px; /* Adjust this value as needed */
}

.performer-wrapper-outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Ensure the wrapper takes the full width of the container */
  height: 80%; /* Ensure the wrapper takes the majority height of the section */
  border-radius: 15px;
  box-shadow: inset 1px 1.732px 0px rgba(255, 255, 255, 0.58);
  background-color: #0483bb;
  border: 1px solid #006fa0;
  padding: 10px; /* Add padding */
}

.performer-wrapper-inner {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  box-shadow: inset 0.5px 0.866px 1px rgba(0, 0, 0, 0.43);
  background-color: #329ecd;
  flex-grow: 1; /* Ensure it takes available space */
}

.performer-image {
  width: 120px; /* Adjusted size */
  height: 124px;
}

.performer-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: inset 1px 1.732px 0px rgba(255, 255, 255, 0.58);
  background-color: #ffffff;
}

.performer-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-right: 20px;
}

.performer-title {
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
}

.performer-content {
  font-size: 11px;
  color: #ffffff;
  font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
}

.arrow-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
  height: 110px;
  width: 40px;
}
.arrow-button:hover{
  background-color: #000000;
}

.arrow-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.arrow-button button:hover{
  background-color:black;
}

@media (max-width: 600px) {
  .performer-container {
    width: 85%; 
    margin-top: 30px;
    margin-left: 30px;
  
  }
}