.ringtone-poll-wrapper {
    display: flex;
    gap: 50px;
    width: 900px;
    margin-left: 90px;
    margin-top: 30px;
  }
  .ringtone-wrap {
    width: 100%;
  }
  .ringtone-template {
    border-radius: 15px;
    box-shadow: inset 0.5px 0.866px 1px rgba(0, 0, 0, 0.19);
    background-color: #f3f3f3;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .light-grey-card {
    border-radius: 5px;
    filter: drop-shadow(0.5px 0.866px 0px rgba(255, 255, 255, 0.75));
    box-shadow: inset 0.5px 0.866px 1px rgba(0, 0, 0, 0.43);
    background-color: #f7f7f7;
    border: 1px solid #f9f9f9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #0483bb;
    font-weight: bold;
    font-size: 12px;
  }
  .ringtone-name {
    font-size: 12px;
    color: #0483bb;
    font-weight: bold;
    font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
  }
  .rn-black {
    color: #000;
    font-weight: normal;
  }
  .rn-light-blue {
    font-weight: normal;
  }
  
  .stars {
    display: flex;
    color: #ca1f1f;
  }
  
  .stars svg {
    fill: currentColor;
  }
  
  .downloads-n-button {
    font-size: 11px;
    line-height: 32px;
    color: #000000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
  }
  
  .play-button {
    padding: 7px;
    border-radius: 5px;
    box-shadow: inset 1px 1.732px 0px rgba(255, 255, 255, 0.58);
    background-color: #0087c2;
    border: 1px solid #006fa0;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .play-button:hover {
    color: #000;
    background-image: linear-gradient(
      0deg,
      #d5d5d5 0%,
      #ffffff 14%,
      #d5d5d5 60%,
      #ffffff 100%
    );
  }
  .view-all-button {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
  }
  .view-all {
    font-size: 12px;
    color: #0483bb;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .poll-ques-wrap {
    width: 100%;
  }
  .poll-heading {
    font-size: 19px;
    font-weight: bold;
    color: #000000;
    /* font-family: "Koz Go Pr6 N"; */
  }
  .poll-template {
    flex: 1;
    border-radius: 15px;
    box-shadow: inset 0.5px 0.866px 1px rgba(0, 0, 0, 0.19);
    background-color: #f3f3f3;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height:300px;
    background-image: url(../images/question-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0%;
  }
  .poll-radio-inputs {
    padding: 0 10px;
  }
  .input-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .input-label {
    font-size: 12px;
    line-height: 36px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
  }
  .poll-submit-button {
    padding-top: 10px;
    display: flex;
    gap: 3px;
    align-items: center;
  }
  .poll-submit {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    box-shadow: inset 1px 1.732px 0px rgba(255, 255, 255, 0.58);
    background-color: #0087c2;
    border: 1px solid #006fa0;
    padding: 7px 10px;
  }
  .poll-submit:hover {
    color: #000;
    background-image: linear-gradient(
      0deg,
      #d5d5d5 0%,
      #ffffff 14%,
      #d5d5d5 60%,
      #ffffff 100%
    );
  }
  .previous-poll {
    font-size: 11px;
    text-decoration: underline;
    color: #0483bb;
    font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
    padding-left: 15px;
  }
  .svg{
    cursor: pointer;
  }
  button{
    cursor: pointer;
  }
  @media screen and (max-width: 600px) {
    .ringtone-poll-wrapper {
      display: inline;
      gap: 40px;
      width: 900px;
      margin-left: 90px;
      margin-top: 30px;
    }

  }